.formation ul {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

 .formation ul li {
    padding: 0 1rem 1rem 1.8rem;
    position: relative;
    font-weight: 700;
    font-size: 1.1rem;
}

.formation p {
    margin: .5rem 0;
    font-weight: 500;
}

.formation span {
    font-style: italic;
    font-size: 1.1rem;
    font-weight: 600;
}

.formation ul li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url('../images/check-lg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert();
}