.content{
    margin: 0;
    padding: 0;
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0 0 .5rem 0;
    padding: 0;
    list-style: none;
}

.projects  li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
    gap: .5rem;
    transition: transform 0.3s ease-in-out;
}

.projects li:hover {
    transform: scale(1.05);
}

.projects__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: .5rem;
}

.projects__link,
.projects__link-repository {
    font-size: .725rem;
    font-style: italic;
}

.projects__link-repository::before{
    content: '';
    display: inline-block;
    align-items: center;
    width: 1.1rem;
    height: 1.1rem;
    background-image: url(../images/github.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    filter: invert();
    vertical-align: middle;
}

.projects__link::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../images/link.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
    filter: invert();
    vertical-align: middle;
}


.projects__container {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;

}

.projects__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.projects__description img {
    width: 100%;
    max-width: 350px;
    max-height: 300px;
    height: auto;
    border-radius: .3rem;
    margin: .5rem;
    filter: drop-shadow(2px 3px 3px #000000);
}

.projects__details {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    line-height: 1.4;
}

.projects__details p {
    font-size: .725rem;
    text-align: justify;
}

.projects__details span{
    font-weight: 700;
}

.all-projects__link {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.all-projects__link a {
    display: inline-block;
    border: 3px solid #5c1f9b;
    color: #5c1f9b;
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: .3s ease-in;
    background-color: #e3abf1;
    text-decoration: none;
    font-weight: 500;
}

.all-projects__link a:hover {
    border: 3px solid #e3abf1;
    background-color: #5c1f9b;
    color: #e3abf1;
    scale: 1.02;
    font-weight: 500;
}

@media screen and (min-width:1024px){
    .projects__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
    }

    .projects__details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: .5rem 1rem .5rem .5rem;
        margin: auto;
    }

    .projects__details p {
        font-size: .9rem;
    }

    .projects__details span{
        font-size: .9rem;
    }

    .projects__link,
    .projects__link-repository {
    font-size: .8rem;
    }

    .projects__container.reverse .projects__description {
        order: 2;
    }

    .projects__container.reverse .projects__details {
        order: 1;
    }

    .projects__details {
        font-size: 1rem;
    }

}