.hard-skills__marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.hard-skills-list {
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    list-style: none;
    animation: scroll-skills 20s linear infinite;
    will-change: transform;
}

@keyframes scroll-skills {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.hard-skills-item img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(2px 3px 3px black);
    transition: transform 0.3s ease;
}

.hard-skills-item img:hover {
    transform: scale(1.1);
}
